@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.mask-image-overlay {
  mask-image: "/src/assets/banner.svg";
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-image: "/src/assets/banner.svg";
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}
